.card {
  transition: transform 0.2s, box-shadow 0.2s;
  min-width: 500px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.border-primary {
  border-width: 2px !important;
}

.card-carousel-container {
  height: 300px;
  overflow: hidden;
}

.card-carousel ::ng-deep .carousel-container {
  max-height: 300px;
  box-shadow: none;
  border-radius: 0;
}

.card-carousel ::ng-deep .carousel-image {
  height: 300px;
  object-fit: cover;
}
