<div class="carousel-container position-relative">
  <div class="carousel-images-container">
    <!-- Current Image -->
    <div class="carousel-image-wrapper"
         [ngClass]="{
           'slide-left-leave': isAnimating && direction === 'left',
           'slide-right-leave': isAnimating && direction === 'right',
           'active': !isAnimating
         }"
         (click)="onImageClick()">
      <img [src]="getImageSrc(isAnimating ? previousImageIndex : currentImageIndex)" 
           class="img-fluid rounded carousel-image" 
           alt="Image">
    </div>

    <!-- Next Image (only shown during animation) -->
    <div *ngIf="isAnimating" class="carousel-image-wrapper"
         [ngClass]="{
           'slide-left-enter': direction === 'left',
           'slide-right-enter': direction === 'right'
         }">
      <img [src]="getImageSrc(currentImageIndex)" 
           class="img-fluid rounded carousel-image" 
           alt="Image">
    </div>
  </div>

  <!-- Navigation Arrows -->
  <div *ngIf="images.length > 1" class="carousel-navigation">
    <button class="carousel-arrow carousel-arrow-left" (click)="prevImage()">
      <i class="bi bi-chevron-left"></i>
    </button>
    <button class="carousel-arrow carousel-arrow-right" (click)="nextImage()">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>

  <!-- Carousel indicators -->
  <div *ngIf="images.length > 1" class="carousel-bullets position-absolute bottom-0 start-50 translate-middle-x mb-3">
    <button *ngFor="let img of images; let i = index" 
            type="button" 
            [class.active]="i === currentImageIndex"
            class="carousel-bullet"
            (click)="goToImage(i)"></button>
  </div>
</div>
